

td, th {
width:  130px;
display: table-cell;
vertical-align: inherit;
}

 
 
 .dropdown-check-list {
  display: inline-block;
}
.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 8px 5px 10px;
  border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}
.dropdown-check-list ul.items li {
  list-style: none;
}
.dropdown-check-list.visible .anchor {
  color: #0094ff;
}
.dropdown-check-list.visible .items {
  display: block;
}





 #on-board, #off-board, #change-board, #add-nh, #change-nh, {
            text-align: center;
            cursor: pointer;
        }

        .page-title {
            vertical-align: middle;
        }

        #form-buttons {
            margin-top: 30px;
            border-top: 0px solid black;
        }

        #new-hire-menu, #gh_name_field {
            display: none;

        }

        #distro-lists {
            text-align: left;
            list-style: none;
        }

        #new-hire {
            display: none;
            text-align: center;
        }

        #cont-info, #rem-info {
            margin-top: 20px;
        }

        #termination {
            display: none;
        }

        .no-li-style {
            list-style-type: none;
        }

        #new-hire-container {
            display: none;
            text-align: center;
        }

        #termination-container {
            display: none;
        }

        #status-change {
            display: none;
        }

        #nh-update {
            display: none;
        }

        #nh-create {
            display: none;
            text-align: center;
        }

        #term-create {
            display: none;
        }

        #inter-region, #international, #remote-info, #contractor-info {
            display: none;
        }

        #term-change {
            display: none;
        }

        h2 {
            text-align: center;
            margin-top: -20px;

        }

        table {
            margin: 8px 8px 8px 8px;
			display: inline;
        }
        
        

        form#new-hire-form {
            /*background: #69BE28;*/
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			/* border-radius: 5px; */
			padding: inherit;
			/* width: 400px; */
			/* color: white; */
			margin: 0 auto;
			/* float: left; */
          }

        legend {
            color: white;
            font-weight: bold;
        }

        label {
            	font-weight: normal;
            	color: black;
            	margin: 0 0 4px 0;
				padding: 2px 1px 1px 1px;
		/* float: left; */
        }
        
        
        

	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }
	::-webkit-selection { background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 4px 0;
		padding: 18px 1px 1px 4px;
		/* float: left; */
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

 
	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {
		margin: 10px;
		border: 1.5px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
	
	  
	  
	  
	  element.style {
}
 
user agent stylesheetbody {
display: block;
margin: 8px;
}

element.style {
}
user agent stylesheetstyle {
display: none;
}
 

 




#menu {
	list-style:none;
	width:100%;
	margin:5px auto 0px auto;
	height:43px;
	padding:0px 0px 0px 0px;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 12px 10px;
	margin-right:5px;
	margin-top:7px;
	border:none;
}

#menu li:hover {
	border-top: 1px solid #009900;
	border-left: 1px solid #009900;
	border-right: 1px solid #009900;
	padding: 4px 9px 12px 9px;
	
	/* Background color and gradients */
	
	background: #e6ebe6;
	background: -moz-linear-gradient(top, #e6ebe6, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6ebe6), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
		font-size:14px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
	padding-right:21px;
	background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
	background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #009900;
	border-top:none;
	
	/* Gradient background */
	background:#e6ebe6;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 100%;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#009900;
}
#menu li:hover div a:hover {
	color:#003300;
}


.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #009900;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#e6ebe6;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}



body{background-color: #E6EBE6; font-family:arial;border:none; margin:0; padding:0;}

#links {
	height: 100%;
width: 100%;


	}



#page{ 
		float: left;
		width: 100%;
		height: auto;
		/* padding: 5px 5px 5px 5px; */
		/* background: #E6EBE6; */
		background: -moz-linear-gradient(top, #EEE, #BBB);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#BBB));
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 6px;
		box-shadow: 0 0 5px #5A5A5A;
		-moz-box-shadow: 0 0 5px #5A5A5A;
		-webkit-box-shadow: 0 0 5px #5A5A5A;
		margin-bottom: 4px;

	 }


 

#main{margin-top: 10px;}
	
	
#header{
		background-color: #69BE28;
		height: 40px;
		width: 100%;
		margin: 0px;
		padding: 0px;
		float: left;
		/* display: table; */
		/* position: fixed; */
		/* top: 50px; */
		/* left: 400px; */
		z-index: 3;
		}
	
	
#warning{
	font-style : italic;
	color: #cc0000;
	}


#logo{
	border: none;
	float: left;
	margin-left: 400px;
	}
	
p.field{
	float: left;
	width: 400px;
	margin: 2px 9px;
	clear:both;
    }
 


#datepicker
 {
width: 300px;
float: right;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: 0 0 5px #5A5A5A;
-moz-box-shadow: 0 0 5px #5A5A5A;
-webkit-box-shadow: 0 0 5px #5A5A5A;
border: solid 1px transparent;
color: #555;
/* padding: 8px; */
font-size: 13px;
}




input.login-input {
	width: 300px;
	float: right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* box-shadow: 0 0 5px #5A5A5A; */
	-moz-box-shadow: 0 0 5px #5A5A5A;
	/* -webkit-box-shadow: 0 0 5px #5A5A5A; */
	/* background: #FAFFBD; */
	/* border: solid 1px transparent; */
	/* color: #555; */
	/* padding: 2px; */
	/* font-size: 13px; */
	margin: 0 3px;
}


 
 select {

width: 300px;
float: right;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
box-shadow: 0 0 5px #5A5A5A;
-moz-box-shadow: 0 0 5px #5A5A5A;
-webkit-box-shadow: 0 0 5px #5A5A5A;
/*background: #FAFFBD;*/
border: solid 1px transparent;
color: #555;
padding: 8px;
font-size: 13px;
margin: 0 3px;

  
 
	 

}





input.login-submit {
float: right;
padding: 6px 10px;
/* color: white; */
font-size: 18px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4D04A), to(#459300));
/* text-shadow: #050505 0 -1px 0; */
/* background-color: #459300; */
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
/* border-radius: 4px; */
/* border: solid 1px transparent; */
/* font-weight: bold; */
/* cursor: pointer; */
/* letter-spacing: 1px; */
}

#menu {
list-style: none;
width: 100%;
margin: 10px auto 0px auto;
height: 43px;
padding: 0px 0px 0px 0px;
}
#menu li {
float: left;
display: block;
text-align: center;
position: relative;
padding: 4px 10px 12px 10px;
margin-right: 5px;
margin-top: 7px;
border: none;
}	

#menu li a {
font-size: 14px;
color: #EEE;
display: block;
outline: 0;
font-weight: bold;
text-decoration: none;
text-shadow: 1px 1px 1px black;
}
#menu li:hover a {
color: #161616;
text-shadow: 1px 1px 1px white;
}




	
	
	
	
	
	
	 
	#main{margin-top: 10px;}
	 
	#warning{
	font-style : italic;
	color: #cc0000;
	}
	#logo{
	border: none;
	float: left;
	margin-left: 400px;
	}
	
 
 


/*  Basic stucture
=====================*/
#accordion{ margin-top: 10px;
margin: 10px;
/* background-color: #69BE28; */
/* height: 40px; */
/* width: 100%; */
margin: 18px;
padding: 10px;
/* float: left; */
/* display: table; */
/* position: fixed; */
/* top: 60px; */
/* left: 400px; */
z-index: 1;}  //margin:100px auto;width:400px;
#accordion ul{list-style:none;margin:0;padding:0;}
.accordion{ /*display:none; */ }
.accordion:target{display: table-cell;}
#accordion ul li a{text-decoration:none;display:block;padding:10px;}
.accordion{padding:0px;}





/*  Colors 
====================*/
#accordion ul{
/*box-shadow*/
-webkit-box-shadow:0 4px 0px #BDBDBD;
   -moz-box-shadow:0 4px 10px #BDBDBD;
        box-shadow:0 4px 10px #BDBDBD;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}
#accordion ul li a{
background:#fff;
border-bottom:1px solid #E0E0E0;
color:#999;
}
.accordion{
	background:#fdfdfd;
	color:#999;
}
.accordion:target{
border-top: 0px solid #FFCDCD;
}










